/* Стилизизация элемента footer__copyright */
.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .footer__copyright {
    align-self: flex-end;
  }
  }

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 48px;
    align-self: flex-start;
  }

  }
