/* Стилизизация элемента lead__image */
.lead__image {
  height: auto;
  width: 100%;
  /* еще больше контроля с max-width */
  max-width: 984px;
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: calc(100% + 48px);
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    width: calc(100% + 32px);
  }
}
