/* Стилизизация блока intro */
.intro {
  padding: 92px 0 92px 100px;
  max-width: 690px;
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 0;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 88px 0;
  }
}

/*когда ширина экрана меньше ширины блока*/
@media screen and (max-width: 690px) {
  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 0;
  }
}
