/* Стилизизация элемента place__photo */
.place__photo {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}


@media screen and (max-width: 1024px) {
  .place__photo {
    width: 440px;
    height: 440px;
  }
  }

@media screen and (max-width: 1023px) {
  .place__photo {
    width: 100%;
    height: auto;
  }
  }

@media screen and (max-width: 768px) {
  .place__photo {
    width: 340px;
    height: 340px;
  }
  }

@media screen and (max-width: 767px) {
  .place__photo {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .place__photo {
    width: calc(100% + 32px);
    justify-self: center;
  }
  }
