/* Стилизизация элемента place__website */
.place__website {
  justify-self: flex-start;
  align-self: flex-end;
}



@media screen and (max-width: 320px) {
  .place__website {
    width: calc(100vw - (16px*2));
  }
}
